@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

@font-face {
  font-family: "IvyPresto Display-SemiBold";
  src:  url('../fonts/IvyPresto-Display-SemiBold.ttf') format('ttf'),
        url('../fonts/IvyPresto-Display-SemiBold.woff') format('woff');
}

p {
  font-family: var(--font-body);
  line-height: 110%;
}

h1, h2, h3,
h4, h5, h6 {
  line-height: 110%;
  margin-top: 0px;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  font-weight: 700;
}

h4, h5, h6 {
  font-family: var(--font-body);
  font-weight: 600;
}

h1 { font-size: 12.0rem; }
h2 { font-size: 9.0rem;  }
h3 { font-size: 6.5rem;  }
h4 { font-size: 3.2rem;  }
h5 { font-size: 2.4rem;  }
h6 { font-size: 2.0rem;  }
p  { font-size: 2.0rem;  }

@media only screen and (max-width: 1600px) {
  h1 { font-size: 10.0rem; }
  h2 { font-size: 7.5rem;  }
  h3 { font-size: 5.4rem;  }
  h4 { font-size: 2.4rem;  }
  h5 { font-size: 2.0rem;  }
  h6 { font-size: 1.8rem;  }
  p  { font-size: 1.8rem;  }
}

@media only screen and (max-width: 1044px) {
  h1 { font-size: 8.0rem; }
  h2 { font-size: 6.0rem; }
  h3 { font-size: 3.2rem; }
  h4 { font-size: 2.4rem; }
  h5 { font-size: 2.0rem; }
  h6 { font-size: 1.8rem; }
  p  { font-size: 1.8rem; }
}

@media only screen and (max-width: 788px) {
  h1 { font-size: 6.0rem; }
  h2 { font-size: 4.5rem; }
  h3 { font-size: 3.2rem; }
  h4 { font-size: 2.0rem; }
  h5 { font-size: 1.8rem; }
  h6 { font-size: 1.6rem; }
  p  { font-size: 1.6rem; }
}

a {
  background-color: transparent;
  color: #0065BD;
  font-weight: 600;
  
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

p a {
  text-decoration: underline;
}